:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artwork {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1;
  overflow: hidden;
}

.artwork img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.overlay ion-button {
  --padding-start: 8px;
  --padding-end: 8px;
}

.overlay:hover {
  opacity: 1;
  transition-duration: 0.2s;
}

.touch-overlay {
  display: none;
}

.dummy {
  width: 120px;
  height: 0;
  margin: 8px;
}

@media (max-width: 576px) {
  .artwork {
    width: 75px;
    height: 75px;
    margin: 6px;
    border-radius: 6px;
  }

  .overlay {
    display: none;
  }

  .touch-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .dummy {
    width: 75px;
    margin: 6px;
  }
}
