:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dummy {
  width: 120px;
  height: 0;
  margin: 0 8px;
}

@media (max-width: 576px) {
  .dummy {
    width: 75px;
    margin: 0 6px;
  }
}
