:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s;
}

.overlay ion-button {
  --padding-start: 8px;
  --padding-end: 8px;
}

.overlay:hover {
  opacity: 1;
}

.touch-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay.touch {
  display: none;
}

.touch-overlay.touch {
  display: block;
}
